.main {
  display: flex;
  background: radial-gradient(#212121,#000000);
  width: 100vw;
  height: 100vh;
  
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.container_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50vw;
  padding-left: 5vh;
}
.container_two {
  display: flex;
  justify-content: space-between;
  align-items: right;
  width: 30vw;
 
}
.text_one {
  font-size: 60pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #eaeaea;
  font-weight: bold;
  
}
.text_two {
  font-size: 20pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #eaeaea;
  margin-top: 10pt;
  
}
.button {
  width: 50%;
  background-color: #d7097a;
  color: #eaeaea;
  height: 6vh;
  border-radius: 50px;
  margin-top: 30pt;
  font-size: 20pt;
  border: none;
  margin-top: 10vh;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
